{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": ["config:best-practices", ":automergeMinor"],
  "packageRules": [
    {
      "matchUpdateTypes": ["major"],
      "reviewers": ["{{ github_username }}"]
    },
    {
      "matchUpdateTypes": ["pinDigest", "digest"],
      "automerge": true,
      "automergeType": "branch"
    }
  ],
  "pre-commit": {
    "enabled": true
  }
}
